.root {
   width: 680px;
   height: 100%;

   position: relative;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   gap: 0;
}

.root::after {
   box-shadow: inset 0 0 13px 8px #000;
   content: "";
   display: block;
   height: 100%;
   position: absolute;
   top: 0;
   width: 100%;
   height: 100%;
}

@media screen and (max-width: 760px) {
   .root {
      width: 100%;
   }
   .root::after {
      display: none;
   }
}
